/*start general properties for website*/
@import 'animations';
@font-face {
    font-family: "semiBold";
    src: url(../fonts/tajawal/Tajawal-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/tajawal/Tajawal-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/tajawal/Tajawal-Bold.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'regular';
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: "bold";
}

h4,
h5,
h6 {
    font-family: "semiBold";
}

p,
span , a {
    font-family: 'regular';
}
ul{
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
}
.mobile-block{
    display: none;
}
html[dir='rtl']{
    .swiper-button-next{
        left: 32% !important;
    }
    .swiper-button-prev{
        right: 32% !important;
    }
    .see-more::after{
        right: 0px;
        content: '\f0a8';
    }
    footer .card-header .btn::after {
        content: '\f053';
        left: 10px;
    }
    .active-arrow{
        &::after{
            transform: rotate(-90deg) !important;
        }
    }
    .scroll-top-btn{
        left: 20px;
    }
    .navbar .nav-content .content .work-time::after{
        right: 30px;
    }
}
html[dir='ltr']{
    .swiper-button-next{
        right: 32% !important;
    }
    .swiper-button-prev{
        left: 32% !important;
    }
    .see-more::after{
        left: 10px;
        content: '\f0a9';
    }
    footer .card-header .btn::after {
        content: '\f054';
        right: 10px;
    }
    .active-arrow{
        &::after{
            transform: rotate(90deg) !important;
        }
    }
    .scroll-top-btn{
        right: 20px;
    }
    header .swiper-slide .content h3{
        font-size: 40px !important;
    }
    .navbar .nav-content .content .work-time::after{
        left: 30px;
    }
}
.swiper-button-next, .swiper-button-prev{
    top: 93%;
    width: 50px;
    height: 50px;
    z-index: 99999 !important;
    background-color: #fff;
    border-radius: 50%;
    transition: .5s linear;
    box-shadow: 0px 5px 15px #0000001A;
    &::after{
        font-size: 15px;
        color: #975111;
        transition: .5s linear;
    }
    &:hover{
        background-color: #975111 !important;
        &::after{
            color: #fff !important;
        }
    }
}
.swiper-pagination-fraction{
    color: #fff !important;
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
}
.swiper-container-cube .swiper-cube-shadow:before ,
.swiper-container-3d .swiper-slide-shadow-left ,
.swiper-container-3d .swiper-slide-shadow-right{
    display: none !important;
}
.custom-margin{
    margin-bottom: 20px !important;
}   
.general-section{
    width: 100%;
    padding: 50px 0px 50px 0px;
    position: relative;
}
.general-heading{
    width: 100%;
    text-align: center;
    .heading{
        color: #000000;
        font-size: 40px;
        margin-bottom: 15px;
        font-family: 'bold';
    }
    p{
        color: #B1B1B1;
        font-size: 16px;
        font-family: 'regular';
    }
}
.custom-btn{

    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    &:hover{
        animation: translateX 1s linear infinite;
        color: #fff !important;
    }
}
/*end general properties for website*/
.navbar{
    width: 100%;
    padding: 20px 0px;
    background-color: #1944C0;
    .nav-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .image-content{
            width: 200px;
            height: 60px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .navbar-content{
            display: flex;
            align-items: center;
            align-content: center;
            li{
                margin: 0px 10px;
                a{
                    color: #fff !important;
                    font-size: 16px;
                    font-family: 'bold';
                    span{
                        color: #fff !important;
                        font-size: 16px;
                        font-family: 'bold';
                    }
                }
            }
        }
        .content{
            display: flex;
            align-items: center;
            align-content: center;
            position: relative;
            .circle{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                margin: 0px 10px;             
                color: #fff;
                overflow: hidden;
                cursor: pointer;
                i{
                    font-size: 20px;
                    color: #fff;
                }
                &.time{
                    background-color: #975111;
                   
                }
                &.languge{
                    background-color: #123494;
                }
                &:hover{
                    i{
                        animation: fadeInLeft .5s linear;
                    }
                }
            }
            .work-time{
                padding: 15px 0px;
                width: 210px;
                background-color: #fff;
                border-radius: 10px;
                position: absolute;
                bottom: -123px;
                z-index: 999 !important;
                transform: translateY(30px);
                opacity: 0;
                visibility: hidden;
                right: 0px;
                left: 0px;
                text-align: center;
                transition: .5s linear;
                p{
                    font-size: 12px;
                    color: #000;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    top: -5.5px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.active-time{
    transform: translateY(0px) !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.mobile-content{
    width: 100%;
    height: 100vh;
    background-color: #1944C0 ;
    position: fixed;
    top: 0;
    
    flex-direction: column;
    z-index: 999999;
    justify-content: center;
    transition: .5s linear;
    display: none;
    opacity: 0;
    align-items: center;
    align-content: center;
    flex-direction: column;
    ul{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        li{
            margin: 20px 0px;
            a{
                color: #fff !important;
                font-size: 16px;
                font-family: 'bold';
                span{
                    color: #fff !important;
                    font-size: 16px;
                    font-family: 'bold';
                }
            }
        }
    }
    .mobile-close
    {
        position: absolute;
        top: 20px;
        font-size: 20px;
        color: #fff;
        margin: 0px;
    }
    li 
    {
        margin: 20px 0px;
    }
}
/*start header*/
header{
    background-color: #1944C0;

    .swiper-header {
        width: 100%;
        height: max-content !important;
        padding: 30px 0px 50px 0px;
        z-index: 9999 !important;
        position: relative;
        overflow: hidden;
    }
  
    .swiper-slide {
        text-align: center;
        z-index: 9999 !important;
        position: relative;
        height: fit-content !important;
        .content{
            text-align: center;
            width: 100%;
            padding-bottom: 50px;
            h6{
                color: #fff;
                margin-bottom: 20px;
                font-size: 25px;
            }
            h3{
                color: #fff !important;
                font-size: 50px;
                line-height: 4rem;
            }
            p{
                color: #fff;
                margin: 20px 0px;
                font-size: 18px;
            }
            .custom-btn{
                background-color: #975111;
            }
        }
    }
    .wave-content
    {
        .wave{   
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            height: 100px;
            background: url(../images/wave.png);
            background-size: 1000px 100px;
            &:nth-child(1){
                animation:  wave_3 20s linear infinite !important;
                z-index: 3;
                opacity: .5;
                animation: 0s;
                bottom: 0;
            }
            &:nth-child(2){
                animation: wave_2 15s linear infinite !important;
                z-index: 6;
                opacity: .4;
                animation: -5s;
                bottom: 0px;
            }
            &:nth-child(3){
                animation:  wave_3 20s linear infinite !important;
                z-index: 5;
                opacity: .2;
                animation: -2s;
                bottom: 30px;
            }
            &:nth-child(4){
                animation: wave_2 5s linear infinite !important;
                z-index: 4;
                opacity: .3;
                animation: -5s;
                bottom: 40px;
            }
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #1944C0 , $alpha: .7);
        top: 0;
        left: 0;
        z-index: 9;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background: url(../images/wave.png);
        background-repeat: repeat-x !important;
        bottom: -24px;
        left: 0;
        z-index: 999;
        background-size: contain !important;

    }
   
}
/*start about-us*/
.about-us{
    .image-content{
        width: 100%;
        height: 400px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover{
            animation: shadow 1s linear;
            
        }
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p{
            color: #000000;
            font-size: 16px;
            line-height: 2rem;
        }
        .custom-btn{
            background-color: #1944C0;
            box-shadow: 0px 8px 20px #1944C033;
        }
    }
}
/*start services*/
.services{
    background-color: #fff;
    background-size: cover !important;
    background-position: bottom !important;
    background: url(../images/layer_1.png) !important;
    .general-heading{
        margin-bottom: 50px !important;
    }
    .services-box{
        width: 100%;
        height: 100%;
        padding: 60px 40px;
        border-radius: 20px;
        box-shadow: 0px 8px 20px #1944C033;
        background-color: #fff !important;
        position: relative;
        overflow: hidden;
        z-index: 999;
        .image-content{
            width: 90px;
            height: 90px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            i{
                font-size: 90px;
                color: #123494;
            }
        }
        .content{
            padding-top: 30px;
            h4{
                color: #000;
                margin-bottom: 15px;
                font-family: 'bold';
            }
            p{
                color: #B1B1B1;
                font-size: 16px;
                line-height: 2rem;
                margin-bottom: 10px;
            }
            .see-more{
                padding: 0px 30px;
                position: relative;
                color: #975111;
                margin: 0px;
                &::after{
                    position: absolute;
                    top: 10%;
                    transform: translateX(-50%);
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 91%;
            height: 59%;
            bottom: 0;
            left: 0;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            z-index: -1;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #1944C0;
            left: 0;
            bottom: 0;
            transform: scaleY(0);
            border-radius: 20px;
            z-index: -1;
            transition: .5s linear;
        }
        &:hover{
            &::before{ 
                transform: scaleY(1);
            }
            img , &::after{
                filter: invert(95%) sepia(96%) saturate(22%) hue-rotate(305deg) brightness(104%) contrast(100%);
            }
            h4 , i{
                color: #fff;
            }
            p{
                color: #fff;
            }
            a{
                color: #fff !important;
            }
        }
    }
    .custom-margin:nth-child(1) .services-box::after{
        background: url(../images/air.png);
    }
    .custom-margin:nth-child(2) .services-box::after{
        background: url(../images/delivery_truck.png);
    }
    .custom-margin:nth-child(3) .services-box::after{
        background: url(../images/boat.png);
    }
    .custom-margin:nth-child(4) .services-box::after{
        background: url(../images/saber_logo.png);
    }
    .custom-margin:nth-child(5) .services-box::after{
        background: url(../images/warehouse_logo.png);
    }
    .custom-margin:nth-child(6) .services-box::after{
        background: url(../images/customs_logo.png);
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #fdfdfe;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}
/*start articles*/
.articles{
    background-color: #FCFDFE !important;
    .general-heading{
        margin-bottom: 50px !important;
    }
    .swiper-article {
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        overflow: hidden;
        .article-box{
            padding: 20px 10px;
            border-radius: 20px;
            transition: .5s linear;
            position: relative;
            overflow: hidden;
            z-index: 99;
            .image-content{
                width: 100%;
                height: 250px;
                border-radius: 40px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            }
            .content{
                padding-top: 10px;
                h4{
                    color: #000;
                    margin-bottom: 15px;
                    font-family: 'bold';
                    font-size: 25px;
                }
                p{
                    color: #B1B1B1;
                    font-size: 16px;
                    line-height: 2rem;
                    margin-bottom: 10px;
                }
                .see-more{
                    padding: 0px 30px;
                    position: relative;
                    color: #123494;
                    margin: 0px;
                    &::after{
                        position: absolute;
                        top: 10%;
                        transform: translateX(-50%);
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                    }
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #123494;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition: .5s linear;
            }
           &:hover{
                &::after{
                    animation: fadeInRight .5s linear ;
                    opacity: 1;
                    visibility: visible;
                }
               h4 , p , a{
                   color: #fff !important;
               }
           }
        }
    }
    .swiper-pagination-fraction{
        color: #000 !important;
        opacity: 1;
    }
}
.locations{
    padding-top: 0px !important;
    background-size: cover !important;
    background: url(../images/layer_2.png)  !important;
    .general-heading{
        margin-bottom: 50px !important;
        background-color: #FCFDFE;
    }
    .article-box{
        height: 100%;
        border-radius: 40px;
        transition: .5s linear;
        position: relative;
        overflow: hidden;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;  
        background-color: #fff !important;
        box-shadow: 0px 0px 30px #1944C00F;
        .image-content{
            width: 250px;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
        }
        .content{
            padding: 20px 10px;
            width: calc(100% - 250px);
            h4{
                color: #000;
                margin-bottom: 15px;
                font-family: 'bold';
                font-size: 25px;
            }
            p{
                color: #B1B1B1;
                font-size: 16px;
                line-height: 2rem;
                margin-bottom: 10px;
            }
            i{
                color: #123494;
                font-size: 20px;
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #123494;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: .5s linear;
        }
       &:hover{
            &::after{
                animation: fadeInLeft .5s linear ;
                opacity: 1;
                visibility: visible;
            }
           h4 , p , i{
               color: #fff !important;
           }
       }
    }
}
.partner{
    padding-bottom: 100px !important;
    .general-heading{
        margin-bottom: 50px !important;
    }
    
    .swiper-partner {
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        overflow: hidden;
        .image-content{
            width: 100%;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: .5;
                transition: .5s linear;
            }
            &:hover{
                img{
                    opacity: 1;
                }
            }
        }
    }
    .swiper-pagination-fraction{
        color: #000 !important;
        opacity: 1;
    }
}
footer{
    padding-top: 100px !important;
    background: url(../images/footerbg.png)  !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-bottom: 0px !important;
    .contact-us{
        padding: 50px 30px;
        background: url(../images/contactbg.png);
        background-size: cover !important;
        background-repeat: no-repeat;
        border-radius: 40px;
        overflow: hidden;
        margin-top: -170px;
        .content{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center ;
            width: 100%;
            height: 100%;
            flex-direction: column;
            color: #fff !important;
            h4{
                font-family: 'bold';
                margin-bottom: 30px;
            }
        }
        .contact-content{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            .contact-btn{
                padding: 40px 70px;
                background: #80450F 0% 0% no-repeat padding-box;
                border-radius: 25px;            
                img{
                    width: 55px;
                    height: 55px;
                    margin: auto;
                    object-fit: contain;
                }
                p{
                    text-align: center;
                    color: #fff;
                    margin: 10px 0px 0px 0px; 
                }
            }
        }
    }
    .content{
        padding: 60px 0px 30px 0px;
        .image-content{
            width: 200px;
            height: 100px;
            margin-bottom: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        p{
            color: #fff;
            font-size: 16px;
            margin: 10px 0px;
        }
        h3 , .btn{
            color: #fff;
            margin-bottom: 15px;
        }
        .links-content{
            width: 100%;
            display: flex;
            align-items: flex-start;
            ul{ 
                margin: 0px 20px !important;
                li{
                    padding: 20px 0px;
                    border-bottom: 1px solid #B1B1B1;
                    a{
                        color: #fff !important;
                        font-size: 14px;
                        font-family: 'bold';
                    }
                    span{
                        color: #fff !important;
                        font-size: 14px;
                        font-family: 'bold';
                    }
                    &:last-child{
                        border: 0px !important;
                    }
                }
            }
        }
    }
    .socail-content{
        display: flex;
        align-items: center;
        align-content: center;
        .circle{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0px 10px;             
            color: #fff;
            overflow: hidden;
            background-color: rgba($color: #123494 , $alpha: .3);
            i{
                font-size: 20px;
                color: #fff;
            }
            &:hover{
                background-color: #80450F;
                i{
                    animation: fadeInLeft .5s linear;
                }
            }
        }
    }
    .accordion>.card , .card-header{
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .card-header{
        .btn{
            background-color: transparent;
            background: transparent;
            border: 0px !important;
            outline: none !important;
            width: 100%;
            text-align: unset !important;
            margin: 0px !important;
            position: relative;
            &::after{
                position: absolute;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;   
                top: 50%;
                transform: translateY(-50%);
                font-size: 22px;
                color: #fff;
                transition: .5s;
            }
        }
       
    }
    
}
.copyrights{
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #B1B1B1;
    background-color: #1944C0;
    .content{
        display: flex;
        padding: 0px !important;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .image-content{
            display: flex;
            align-items: center;
            align-content: center;
            width: fit-content;
            margin: 0px;
            img{
                width: 100px;
                height: 40px;
                object-fit: contain;
                margin: 0px 10px;
            }
            
        }
        p{
            color: #fff;
            font-size: 15px;
            margin: 0px;
        }
    }
}
/*start loader*/
.loader {
    background-color: #1944C0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999 !important;
    .loading-content{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100vh;
    }
    .content{
        width:200px;
        height:200px;
        margin:0px auto;
    }
    #st0{
        fill:#FFFFFF;
        stroke:#000000;
        stroke-miterlimit:10;
    }
    .cloud_b{
        animation: cloud 2800ms linear infinite;
    }
    .cloud_f{
        animation: cloud02 3000ms linear infinite;
    }
    .airplan{
       animation: airplan 2500ms linear infinite;
    }
    .bar{
        height:4px;
        width:100%;
        margin:30px 0;
        position:relative;
        background-color:#eaeaea;
    }
    .bar:before{
        top:0;
        left:0;
        width:0;
        content:'';
        height:inherit;
        position:absolute;
        background-color:#87CEFA;
        animation:bar 2500ms linear infinite;
    }
}

@keyframes airplan{
    0% {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
@keyframes cloud{
         0%{
           opacity:0;
           transform:translateX(0);
       }
       25%{
           opacity:1;
           transform:translateX(-75px);
       }
       50%{
           transform:translateX(-150px);
       }
       100%{
           opacity:0;
           transform:translateX(-300px);
       }
   }
   @keyframes cloud02{
         0%{
           opacity:0;
           transform:translateX(0);
       }
       25%{
           opacity:1;
           transform:translateX(-75px);
       }
       50%{
           transform:translateX(-150px);
       }
       100%{
           opacity:0;
           transform:translateX(-300px);
       }
   }
   @keyframes bar{
       0%{width:0}
       100%{width:100%}
   }
   
/*scroll to top btn */
.scroll-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #0e2c50;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
        background: #0097DB;
        border-radius: 50%;
        color: #fff;
    }

    i {
        transition: all 0.1s ease;
        position: relative;
        bottom: 4px;
    }
}